[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "lib/zsh-autoenv"]
	path = lib/zsh-autoenv
	url = https://github.com/Tarrasch/zsh-autoenv
[submodule "custom/plugins/ssh"]
	path = custom/plugins/ssh
	url = https://github.com/zpm-zsh/ssh.git
